#AppDiv, #footer, #navbar{
    width: 500px;
    margin: 0 auto;
    align-self: center;
}

.App{
    position: relative;
    min-height: 87vh;
}

#navbar{
    background-color: white;
}
#warning--icon{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#list--container{
    margin-top: 13vh;
    margin-bottom: 60px;
}
.list-element{
    display:flex;
}

.buttons{
    flex-direction: row;
}

.no-display{
    display:none;
}

.yes-display{
    display:flex;
}

.element-info{
    width: 100%;
}

.MenuButton{
    border: none;
    width:40px;
}

.MenuButton, .DeleteButton, .EditButton{
    background-color: transparent;
}


.DeleteButton, .EditButton{
    border: 1px lightgray solid;
    background-color: transparent;
    width: 80px;
}

.fs-7{
    font-size: x-small;
}

@media screen and (max-width:500px) {
    #AppDiv, #footer, #navbar{
        width: 100vw;
    }
}
